body{
    background: $background;
    color: $textColor;
    font-family: "Arimo";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
};


.container{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
};

img{
    display: block;
};